<!-- <section (mousedown)="movimiento($event)" id="primero"></section>
<section id="segundo"></section>
<section id="tercero"></section>
<section id="cuarto"></section> -->

<button class="c-button">Label</button>
<button class="c-button c-button--medium">Label</button>
<button class="c-button c-button--big">Label</button>
<button class="c-button cc-button--big c-button--alert">Label</button>
<button class="c-button c-button--big c-button--alert c-button--border-big">Label</button>
<button class="c-button c-button--border-big">Label</button>
<button class="c-button c-button--border-medium">Label</button>